.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.App-header input, button {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8B4513;
  border: 5px solid #D2691E;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid #D2691E;
  background-color: #FFF8DC;
  width: 80%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #D2691E;
  background-color: #DAA520;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #B8860B;
}

button:active {
  background-color: #8B4513;
}